[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/fireplace"]
	path = bundle/fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = git@github.com:vim-scripts/paredit.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = git@github.com:derekwyatt/vim-scala.git
